@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


nav {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    
}
nav a {
    padding-top: 30px;
    margin-left: 80px;
    font-size: 18px;
    font-weight: bold;
    font-family: cinzel;
}

.btn-header {
    height: 30px;
    width: 80px;
    color: black; 
}
.container-box {
    
}
 .container-home {
    width: 1200px;
    height: 400px;
    margin-top: 30px;
    background: rgb(2, 49, 44);
    border-radius: 40px 40px 300px 40px;
    margin-left: 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
 }
 .container-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }
 .container-text h1 {
    font-size: 50px;
    padding-left: 50px;
    color: #fff;
    font-family: cinzel;
 }
 .container-text p {
     width: 520px;
     font-size: 14px;
     letter-spacing: 1px;
     padding-left: 53px;
     color: #fff;
     padding-bottom: 30px;

 }
 .container-btns a {
    padding-left: 53px;
 }
.container-btns button {
    font-size: 15px;
    
}
 .btn-icons-1 {
    height: 40px;
    width: 200px;
    cursor: pointer;
    background-color:none;
    position: relative;
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; 
    color: rgb(2, 49, 44);
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.btn-icons-1:hover {
    text-shadow: 0 0 8px;
}
.btn-icons-2 {
    height: 40px;
    width: 200px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; 
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.btn-icons-2:hover {
    text-shadow: 0 0 8px;
}
.container-foto img {
    width: 500px;
    height: 300px;
    /* padding-right: 150px; */
    border-radius: 30px 30px 300px 30px;
    margin-right: 50px;
}

.container-about {
    display: flex;

    flex-direction: column;
    align-items: center;
}
.container-text-flex {
    display: flex;
    letter-spacing: 1px;
    padding-top: 50px;
}
.container-text1 {
    width: 540px;
    height: 240px;
    border-radius: 20px;
    color: #fff;
    background: rgb(2, 49, 44);   
}
   
.container-text1 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 30px;
}
.container-text1 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    width: 480px;
    padding-left: 30px;
    padding-top: 10px;
}
.container-text2 {
    width: 540px;
    height: 240px;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 55px;
}
/* .container-text2 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 30px;
    
} */
.container-text2 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    width: 480px;
    padding-left: 30px;
    padding-top: 40px;
}
.container-text3 {
    width: 1140px;
    height: 340px;
    
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 50px;
}
.container-text3 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding-top: 25px;
    padding-left: 30px;
}
.container-text3 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 1050px;
    padding-left: 30px;
    padding-top: 20px;
}
.container-contact p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(105, 105, 105);
}
.container-contact {
    height: 600px;
}
.contact-text {
    display: flex;
    justify-content: center;
    font-family: cinzel;
    letter-spacing: 1px;
    padding-top: 100px;
    font-size: 20px;
}
.card-contact {
    width: 300px;
    height: 200px;
    border: 5px solid black;
    border-radius: 20px;
    display: inline-block;
    margin-left: 110px;
    margin-top: 50px;
}
.card-contact img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding-left: 50px;
}

footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: rgb(2, 49, 44);
    box-shadow: 0 0 5px rgb(36, 39, 37); 
 }

 footer a {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .footer-content {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    gap: 67rem;
    padding: 10px;
    ;
 }


 /* Versão Mobile - Responsividade */

 @media  screen and (max-width: 1020px) {
    
    /* Home */
    .container-home {
        flex-direction: column;
        width: 300px;
        height: 540px;
        border-radius: 30px 30px 200px 200px;
        margin: 45px;
    
    }
    .container-home h1 {
        font-size: 30px;
        padding-top: 30px;
        width: 300px;
    }
    .container-home p {
        width: 200px;
        font-size: 16px;
        padding-left: 80px;
        padding-top: 15px;
    }
    .container-home img {
      display: none;
    }
    .container-home button {
        margin-left: 22px;
        margin-bottom: 20px;

    }
    /* Cabeçalho */
    .navbar {
        display: none;
    }

    .container-text-flex {
        flex-direction: column;
        width: 300px;
    }
    .container-text1 {
        width: 300px;
        height: 400px;
        color: black;
        background-color: #fff;
        border: 1px solid black;
    }
    .container-text1 p {
        width: 250px;
    }
    .container-text2 {
        width: 300px;
        height: 520px;
        background: rgb(2, 49, 44);
        color: #fff;
        margin: 50px 0 0 0;
    }
    .container-text2 p {
        width: 250px;
        font-size: 18px;
    }
    .container-text3 {
        width: 300px;
        height: 1100px;
    }
    .container-text3 p {
        width: 250px;

    }
    /* Contatos Mobile */
    .container-contact {
        width: 300px;
        height: 1300px;
    }
    .contact-text {
        padding-top: 50px;
        display: inline-block;
    }
    .contact-text h1 {
        width: 250px;
        height: 100px;
        font-size: 22px;
        margin: 0px 0px 0px ;
        padding-left: 70px;
        padding-bottom: 20px;
    }
    .container-contact p {
        width: 300px;
        padding-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p1 {
        margin-left: 34px;
    }
    .card-contact {
        width: 200px;
        height: 200px;
        margin: 20px 90px 0 90px;

    }
    .card-contact img {
        width: 200px;
        height: 200px;
        margin: 0 0 30px 0px;
        align-items: center;
        padding: 0;
    }
    /* Footer Mobile */
    .footer-content {
        padding: 0;
        margin: 0;
        height: 30px;
    }
    /* footer h3 {
        width: 200px;
        font-size: 14px;
        color: black;
        display: fixed;
        line-height: 20px;
        margin-top: 0px;
    } */
    .footer-content a {
        display: flex;
        color: black;
        font-size: 18px;
        padding-right: 15px;
    }
 }

 